#gameStatus {
    background-color:#eeeeee;
    height:544px;
    width:120px;
    float:left;
    border: solid 1px black;
}

#game {
	height: 544px;
    width: 896px;
    float: left;
    border: solid 1px black; 
}

.titles {
	font-size: 17px;
	margin: 0px;
	padding-top: 5px;
	padding-left: 5px;
}
.gameInfo {
	font-size: 16px;
	margin: 0;
	padding-left: 5px;
}

.towerBtn {
	width: 80px;
	height: 50px;
}

.tower {
	height: 25px;
	width: 25px;
}

.towerName {
	margin: 0;
}

#infoText {
	font-size: 14px;
	margin: 0;
	padding-left: 5px;
}

#errorText {
	color: red;
}

.selected {
	background: yellow;
}