#status {
    background-color:#eeeeee;
    height:544px;
    width:90px;
    float:left;
    border: solid 1px black;
}

#game {
	height: 544px;
    width: 896px;
    float: left;
    border: solid 1px black; 
}

.titles {
	margin: 0px;
	padding-bottom: 0px;
}
.gameInfo {
	font-size: 16px;
	margin: 0;
	list-style: none;
	padding-left: 5px;
}

#infoText {
	font-size: 14px;
	padding-left: 5px;
}

#errorText {
	color: red;
}